.section {
  padding: 120px 0;
  background: var(--background);
  color: var(--foreground);
  overflow: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  gap: 80px;
  align-items: center;
  margin-bottom: 120px;
  /* Add spacing between sections */
}

.container:last-child {
  margin-bottom: 0;
}

.reverse {
  flex-direction: row-reverse;
}

.imageSide {
  flex: 1;
  position: relative;
  height: 600px;
  border-radius: 30px;
  overflow: hidden;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.accordionSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  margin-bottom: 40px;
}

.title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
  background: linear-gradient(to right, #1d1d1f, #86868b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 18px;
  color: #86868b;
  line-height: 1.6;
}

.accordionItem {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 20px;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px 0;
  transition: color 0.3s ease;
}

.accordionHeader:hover {
  color: #23234d;
}

.itemTitle {
  font-size: 24px;
  font-weight: 600;
}

.icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.active .icon {
  transform: rotate(45deg);
  color: 343484;
}

.active .itemTitle {
  color: #343484;
}

.accordionContent {
  overflow: hidden;
}

.description {
  font-size: 16px;
  color: #6c6b6b;
  line-height: 1.6;
  padding-bottom: 20px;
  max-width: 90%;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 60px;
  }

  .imageSide {
    width: 100%;
    height: 400px;
  }

  .accordionSide {
    width: 100%;
  }
}
