:root {
  --theme-color: #23234d;
  --text-color: #ffffff;
  --bg-color: #0d0f0e;
}

.footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 80px 40px;
  position: relative;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-heading {
  font-size: 3rem;
  font-weight: 600;
  max-width: 60%;
  line-height: 1.2;
  text-transform: capitalize;
}

.get-in-touch {
  background-color: #fff;
  color: var(--theme-color);
  padding: 16px 20px;
  border-radius: 50%;
  font-weight: 900;
  font-size: 26px;
  transform: rotate(-20deg);
  text-align: center;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
  gap: 40px;
}

.footer-left {
  flex: 1;
  min-width: 280px;
}

.footer-logo {
  width: 48px;
  margin-bottom: 20px;
}

.newsletter-label {
  margin-bottom: 12px;
  font-weight: 500;
}

.newsletter-formm p {
  margin-top: 3%;
}

.send-button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--theme-color);
}

.footer-social {
  display: flex;
  gap: 12px;
  margin-top: 30px;
}

.footer-social svg path {
  fill: #dedede;
}

.footer-social a {
  background: #1e1e1e;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  display: inline-flex;
}

.footer-links {
  display: flex;
  flex: 2;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  min-width: 400px;
}

.link-column h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.link-column a {
  display: block;
  color: #aaa;
  margin-bottom: 10px;
  font-size: 14px;
  text-decoration: none;
}

.link-column a.active {
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .footer-top {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .footer-heading {
    max-width: 100%;
    font-size: 2.5rem;
  }

  .get-in-touch {
    position: static;
    transform: rotate(0deg);
    width: auto;
    height: auto;
    border-radius: 8px;
    font-size: 16px;
    padding: 11px 14px;
  }

  .footer-main {
    flex-direction: column;
    gap: 60px;
  }

  .footer-links {
    flex-direction: column;
    gap: 40px;
  }
}

.footer-left img {
  width: 150px;
  height: auto;
}

@media (max-width: 768px) {
  .footer-left img {
    width: 100px;
    height: auto;
  }

  .footer-links .link-column:first-child {
    margin-top: -11%;
  }

  .footer-links .link-column:nth-child(2) {
    margin-top: 11%;
  }

  .footer-links {
    display: grid;
    gap: 0;
    /* grid-template-columns: auto auto; */
    justify-content: unset;
  }

  .footer-links .link-column:last-child {
    margin-top: 15%;
  }
}
